
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
   <head>
    @await Component.InvokeAsync("_HeadUILayoutComponentPartial")
   </head>
<body>
   

    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")


    @await Component.InvokeAsync("_DefaultCoverUILayoutComponentPartial")


    @await Component.InvokeAsync("_RentACarFilterComponentPartial")  



    @await Component.InvokeAsync("_DefaultLast5CarsUILayoutComponentPartial")


    @await Component.InvokeAsync("_AboutUsUILayoutComponentPartial")


    @await Component.InvokeAsync("_ServiceUILayoutComponentPartial")


    @await Component.InvokeAsync("_BecomeADriverUILayoutComponentPartial")

    @await Component.InvokeAsync("_TestimonialUILayoutComponentPartial")

    @await Component.InvokeAsync("_GetLast3BlogWithAuthorsUILayoutComponentPartial")

    @await Component.InvokeAsync("_DefaultStatisticsUILayoutComponentPartial")



   

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")





    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")
    

</body>
</html>
